:root {
  --main-elements-horizontal-padding: 2rem;
  /* The horizontal padding of some core elements like the header or main */
  --default-box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.08);
  --default-box-shadow-hover: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
  --country-box-width: 33rem;
  /** COLORS **/
  --dark-mode-elements-background: hsl(209, 23%, 22%);
  --light-mode-elements-background: hsl(0, 0%, 100%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-background: hsl(0, 0%, 98%);
  --dark-mode-text: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
  /** CURRENT VALUES **/
  --current-background: var(--light-mode-background);
  --current-color-text: var(--light-mode-text);
  --current-elements-background: var(--light-mode-elements-background); }

html {
  box-sizing: border-box;
  font-size: 50%;
  /*1 rem = 8px;*/ }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1;
  color: var(--current-color-text);
  background-color: var(--current-background); }

.dark-theme {
  --current-background: var(--dark-mode-background);
  --current-color-text: var(--dark-mode-text);
  --current-elements-background: var(--dark-mode-elements-background); }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

img, picture {
  display: block; }

button {
  line-height: 1;
  padding-inline: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit; }

.main-container {
  min-height: 100vh;
  position: relative;
  margin: 0 auto; }

@media only screen and (min-width: 90em) {
  :root {
    --main-elements-horizontal-padding: 8rem;
    --desktop-min-width: 144rem;
    --country-box-width: 26.4rem; }

  html {
    font-size: 62.5%;
    /*1 rem = 10px;*/ } }
.heading-1 {
  font-size: 2.75rem; }

.heading-2 {
  font-size: 1.75rem; }

.heading-1, .heading-2, .heading-3 {
  font-weight: 800;
  line-height: 1.4; }

.heading-3 {
  font-size: 2.25rem; }

.heading-4 {
  font-size: 2rem; }

.input-info, .title-info, .info-item {
  font-size: 1.5rem; }

.input-info {
  font-weight: 400; }

.info-item, .button {
  font-weight: 300; }

.title-info, .heading-4 {
  font-weight: 600; }

.button {
  font-size: 1.75rem;
  padding: 1rem 3rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: var(--current-elements-background); }

.button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5); }

.button--small {
  font-size: 1.5rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); }

.button--small:hover {
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.5); }

@media only screen and (min-width: 90em) {
  .heading-1 {
    font-size: 3.2rem; }

  .heading-2 {
    font-size: 2.4rem; }

  .input-info, .title-info, .info-item {
    font-size: 1.4rem; }

  .heading-3 {
    font-size: 1.8rem; }

  .heading-4 {
    font-size: 1.6rem; }

  .button {
    font-size: 2rem; }

  .button--small {
    font-size: 1.4rem; } }
.country {
  height: 42rem;
  box-shadow: var(--default-box-shadow);
  background-color: var(--current-elements-background);
  overflow-y: scroll;
  transition: all 0.3s;
  cursor: pointer; }
  .country .country__flag .country__flag-img {
    width: 100%;
    height: 20rem; }
  .country .country__text {
    padding: 3rem 2rem 0 2rem; }
    .country .country__text .heading-3 {
      text-align: left;
      margin-bottom: 3rem; }
    .country .country__text .country__detailed-info {
      display: flex;
      flex-direction: column;
      row-gap: 0.8rem; }
  @media only screen and (min-width: 90em) {
    .country {
      height: 33.6rem; }
      .country .country__flag .country__flag-img {
        height: 16rem; }
      .country .country__text {
        padding: 2.5rem 2rem 0 2rem; }
        .country .country__text .heading-3 {
          margin-bottom: 2rem; } }

.country:hover {
  box-shadow: var(--default-box-shadow-hover); }

.country.country--hidden {
  display: none; }

.country.country--invisible {
  visibility: hidden; }

.spinner {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4; }
  .spinner img {
    display: block; }

.spinner.display--spinner {
  display: flex; }

.toTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 8rem;
  height: 8rem;
  bottom: 1rem;
  right: 1rem;
  z-index: 3;
  background-color: var(--current-elements-background);
  border-radius: 50%;
  cursor: pointer; }
  .toTop svg {
    width: 4rem;
    height: 4rem; }

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 0 var(--main-elements-horizontal-padding);
  background-color: var(--current-elements-background);
  box-shadow: var(--default-box-shadow); }
  .main-header .theme-button {
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
    font-size: 1.6rem; }
    .main-header .theme-button svg {
      width: 2rem;
      height: 2rem; }

.dark-theme .main-header .theme-button svg path {
  fill: #fff; }

.main-content {
  padding-top: 3rem;
  padding-left: var(--main-elements-horizontal-padding);
  padding-right: var(--main-elements-horizontal-padding);
  padding-bottom: 8rem; }
  @media only screen and (min-width: 90em) {
    .main-content {
      padding: 4.8rem 0;
      max-width: calc(var(--desktop-min-width) - var(--main-elements-horizontal-padding) * 2);
      margin: 0 auto; } }

.form-search {
  margin-bottom: 3.8rem; }
  .form-search .input-search-container {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    padding: 0 4rem;
    height: 6rem;
    margin-bottom: 5rem;
    box-shadow: var(--default-box-shadow);
    background-color: var(--current-elements-background); }
    .form-search .input-search-container svg {
      width: 2rem;
      height: 2rem; }
    .form-search .input-search-container .input-search {
      flex-grow: 1;
      border: none;
      outline: none;
      background-color: inherit;
      color: inherit; }
    .form-search .input-search-container .input-search::placeholder {
      opacity: 0.8; }
  .form-search .select-region-wrapper {
    display: flex;
    align-items: center;
    width: 25rem;
    height: 6rem;
    box-shadow: var(--default-box-shadow);
    padding: 0 2rem;
    background-color: var(--current-elements-background);
    position: relative; }
    .form-search .select-region-wrapper .select-region {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      cursor: pointer; }
    .form-search .select-region-wrapper .regions {
      display: none;
      flex-direction: column;
      row-gap: 2rem;
      position: absolute;
      left: 0;
      top: 110%;
      width: 100%;
      padding: 3rem;
      box-shadow: var(--default-box-shadow);
      background-color: var(--current-elements-background);
      z-index: 4; }
      .form-search .select-region-wrapper .regions .region {
        cursor: pointer; }
      .form-search .select-region-wrapper .regions .region:hover {
        font-weight: 800; }
  .form-search .select-region-wrapper.display--regions .select-region svg {
    transform: rotateX(180deg); }
  .form-search .select-region-wrapper.display--regions .regions {
    display: flex; }
  @media only screen and (min-width: 44rem) {
    .form-search {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4.8rem; }
      .form-search .input-search-container {
        width: 48rem; }
      .form-search .select-region-wrapper {
        width: 20rem; }
      .form-search .input-search-container, .form-search .select-region-wrapper {
        height: 5.6rem; } }

.form-countries-container .countries-wrapper {
  min-height: 20rem;
  position: relative; }
  .form-countries-container .countries-wrapper .countries-container {
    display: grid;
    gap: 5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, var(--country-box-width)); }
  @media only screen and (min-width: 90em) {
    .form-countries-container .countries-wrapper .countries-container {
      gap: 7.3rem; } }

.form-countries-container.form-countries-container--hide {
  display: none; }

.country-container .back-button {
  display: inline-flex;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 8rem; }
  .country-container .back-button svg {
    width: 2.25rem;
    height: 2.25rem; }
.country-container .country-data {
  max-width: 65rem;
  margin: 0 auto; }
  .country-container .country-data .country-data__flag {
    width: 100%;
    margin-bottom: 5rem; }
  .country-container .country-data .country-data__text .heading-1 {
    margin-bottom: 3rem; }
  .country-container .country-data .country-data__text .country-data__wrapper-info .country-data__text-info1, .country-container .country-data .country-data__text .country-data__wrapper-info .country-data__text-info2 {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 5rem; }
  .country-container .country-data .country-data__text .country-data__text-borders .heading-4 {
    margin-bottom: 1.5rem; }
  .country-container .country-data .country-data__text .country-data__text-borders .border-countries {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; }
  .country-container .country-data .country-data__text .country-data__text-borders.country-data__text-borders--hide {
    display: none; }
@media only screen and (min-width: 44rem) {
  .country-container .country-data {
    display: flex;
    align-items: center;
    column-gap: 14rem;
    max-width: none;
    margin: 0; }
    .country-container .country-data .country-data__flag {
      width: 50%;
      max-width: 57rem;
      margin-bottom: 0; }
    .country-container .country-data .country-data__text {
      width: 50%; }
      .country-container .country-data .country-data__text .country-data__wrapper-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
        column-gap: 2rem;
        flex-wrap: wrap;
        row-gap: 4rem; }
        .country-container .country-data .country-data__text .country-data__wrapper-info .country-data__text-info1, .country-container .country-data .country-data__text .country-data__wrapper-info .country-data__text-info2 {
          margin-bottom: 0; } }

.country-container.country-container--hide {
  display: none; }

/*# sourceMappingURL=styles.css.map */
