.country {
    height: 42rem;
    box-shadow: var(--default-box-shadow);
    background-color: var(--current-elements-background);
    overflow-y: auto;
    scrollbar-width: none;
    transition: all 0.3s;
    cursor: pointer;
    .country__flag {
        .country__flag-img {
            width: 100%;
            height: 20rem;
        }
    }

    .country__text {
        padding: 3rem 2rem 0 2rem;
        .heading-3 {
            text-align: left;
            margin-bottom: 3rem;
        }
        
        .country__detailed-info {
            display: flex;
            flex-direction: column;
            row-gap: 0.8rem;
        }
    }

    @media only screen and (min-width: $minWidthDesktop) {
        height: 33.6rem;

        .country__flag {
            .country__flag-img {
                height: 16rem;
            }
        }

        .country__text {
            padding: 2.5rem 2rem 0 2rem;
            .heading-3 {
                margin-bottom: 2rem;
            }
        }
    }
}

.country::-webkit-scrollbar { 
    display: none; 
}

.country:hover {
    box-shadow: var(--default-box-shadow-hover);
}

.country.country--hidden {
    display: none;
}

.country.country--invisible {
    opacity: 0;
}