.error-container {
    display: none;
    .error-search {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 80rem;
        margin: 0 auto;
        padding: 2rem 4rem;
        background-color: var(--current-elements-background);
        text-transform: uppercase;
        box-shadow: var(--default-box-shadow);
    }
}

.error-container.error-container--show {
    display: block;
}