.toTop {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 6rem;
    height: 6rem;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
    background-color: hsl(0, 0%, 67%);
    border-radius: 50%;

    svg {
        width: 3rem;
        height: 3rem;
    }

    @media only screen and (min-width: $minWidthDesktop) {
        width: 8rem;
        height: 8rem;
        bottom: 3rem;
        right: 3rem;
        svg {
            width: 4rem;
            height: 4rem;
        }
    }
}

.toTop.toTop--display {
    display: flex;
}
