:root {
    --main-elements-horizontal-padding: 2rem; /* The horizontal padding of some core elements like the header or main */
    --default-box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.08);
    --default-box-shadow-hover: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    --country-box-width: 33rem;

    /** COLORS **/
    --dark-mode-elements-background: hsl(209, 23%, 22%);
    --light-mode-elements-background: hsl(0, 0%, 100%);
    --dark-mode-background: hsl(207, 26%, 17%);
    --light-mode-background: hsl(0, 0%, 98%);
    --dark-mode-text: hsl(0, 0%, 100%);
    --light-mode-text: hsl(200, 15%, 8%);

    /** CURRENT VALUES **/
    --current-background: var(--light-mode-background);
    --current-color-text: var(--light-mode-text);
    --current-elements-background: var(--light-mode-elements-background);
}

html {
    box-sizing: border-box;
    font-size: 50%;  /*1 rem = 8px;*/
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1;
    color: var(--current-color-text);
    background-color: var(--current-background);
}

.dark-theme {
    --current-background: var(--dark-mode-background);
    --current-color-text: var(--dark-mode-text);
    --current-elements-background: var(--dark-mode-elements-background);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img, picture {
    display: block;
}

button {
    line-height: 1;
    padding-inline: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
}

.main-container {
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
}

@media only screen and (min-width: $minWidthDesktop) {
    
    :root {
        --main-elements-horizontal-padding: 8rem;
        --desktop-min-width: 144rem;
        --country-box-width: 26.4rem;
    }
    
    html {
        font-size: 62.5%;  /*1 rem = 10px;*/
    }
}