:root {
    --dark-mode-background: hsl(207, 26%, 17%);
    --light-mode-background: hsl(0, 0%, 98%);
    --dark-mode-text: hsl(0, 0%, 100%);
    --light-mode-text: hsl(200, 15%, 8%);

    --current-background: var(--light-mode-background);
    --current-color-text: var(--light-mode-text);
}

html {
    box-sizing: border-box;
    font-size: 50%;  /*1 rem = 8px;*/
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1;
    color: var(--current-color-text);
    background-color: var(--current-background);
}

.dark-theme {
    --current-background: var(--dark-mode-background);
    --current-color-text: var(--dark-mode-text);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img, picture {
    display: block;
}

button {
    line-height: 1;
    padding-inline: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
}

.main-container {
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
}
