.form-countries-container {
    .countries-wrapper {
        min-height: 20rem;
        position: relative;

        .countries-container {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            align-items: center;
        }

        @media only screen and (min-width: $minWidthTabletPortrait) {
            .countries-container {
                justify-content: start;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: normal;
            }
        }

        @media only screen and (min-width: $minWidthDesktop) {
            .countries-container {
                gap: 7.3rem;
            }
        }
    }
}

.form-countries-container.form-countries-container--hide {
    display: none;
}