.form-countries-container {
    .countries-wrapper {
        min-height: 20rem;
        position: relative;

        .countries-container {
            display: grid;
            gap: 5rem;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, var(--country-box-width));
        }

        @media only screen and (min-width: $minWidthDesktop) {
            .countries-container {
                gap: 7.3rem;
            }
        }
    }
}

.form-countries-container.form-countries-container--hide {
    display: none;
}