.country-container {
    .back-button {
        display: inline-flex;
        gap: 0.8rem;
        align-items: center;
        margin-bottom: 8rem;

        svg {
            width: 2.25rem;
            height: 2.25rem;
        }
    }

    .country-data {
        max-width: 65rem;
        margin: 0 auto;

        .country-data__flag {
            width: 100%;
            margin-bottom: 5rem;
        }

        .country-data__text {
            .heading-1 {
                margin-bottom: 3rem;
            }

            .country-data__wrapper-info {
                .country-data__text-info1, .country-data__text-info2 {
                    display: flex;
                    flex-direction: column;
                    row-gap: 1.5rem;
                    margin-bottom: 5rem;
                }
            }

            .country-data__text-borders {
                .heading-4 {
                    margin-bottom: 1.5rem;
                }

                .border-countries {
                    display: flex;
                    gap: 1rem;
                    flex-wrap: wrap;
                }
            }
            
            .country-data__text-borders.country-data__text-borders--hide {
                display: none;
            }
        }
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        .country-data {
            display: flex;
            align-items: center;
            column-gap: 14rem;
            max-width: none;
            margin: 0;

            .country-data__flag {
                width: 50%;
                max-width: 57rem;
                margin-bottom: 0;
            }

            .country-data__text {
                width: 50%;
                .country-data__wrapper-info {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5rem;
                    column-gap: 2rem;
                    flex-wrap: wrap;
                    row-gap: 4rem;
                    .country-data__text-info1, .country-data__text-info2 {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.country-container.country-container--hide {
    display: none;
}