.form-search {
    margin-bottom: 3.8rem;
    display: grid;
    row-gap: 5rem;
    .input-search-container {
        display: flex;
        align-items: center;
        column-gap: 2.5rem;
        padding: 0 4rem;
        height: 6rem;
        box-shadow: var(--default-box-shadow);
        background-color: var(--current-elements-background);

        svg {
            width: 2rem;
            height: 2rem;
        }

        .input-search {
            flex-grow: 1;
            border: none;
            outline: none;
            background-color: inherit;
            color: inherit;
        }
        
        .input-search::placeholder {
            opacity: 0.8;
        }
    }

    .select-region-wrapper {
        display: flex;
        align-items: center;
        width: 25rem;
        height: 6rem;
        box-shadow: var(--default-box-shadow);
        padding: 0 2rem;
        background-color: var(--current-elements-background);
        position: relative;

        .select-region {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            cursor: pointer;
        }

        .regions {
            display: none;
            flex-direction: column;
            row-gap: 2rem;
            position: absolute;
            left: 0;
            top: 110%;
            width: 100%;
            padding: 3rem;
            box-shadow: var(--default-box-shadow);
            background-color: var(--current-elements-background);
            z-index: 4;

            .region {
                cursor: pointer;
            }
            
            .region:hover {
                font-weight: 800;
            }
        }
    }

    .select-region-wrapper.display--regions {

        .select-region {
            svg {
                transform: rotateX(180deg);
            }
        }

        .regions {
            display: flex;
        }
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        grid-template-columns: auto auto;
        justify-content: space-between;
        grid-template-areas: "input regionSelect"
                             "error error";
        margin-bottom: 4.8rem;
        .input-search-container {
            width: 48rem;
            grid-area: input;
        }

        .select-region-wrapper {
            width: 20rem;
            grid-area: regionSelect;
        }

        .input-search-container, .select-region-wrapper {
            height: 5.6rem;
        }
        
        .error-container {
            grid-area: error;
        }
    }
}
