.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 0 2rem;

    .theme-button {
        display: flex;
        column-gap: 0.8rem;
        align-items: center;
        font-size: 1.6rem;
        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.dark-theme .main-header .theme-button svg path {
    fill: #fff;
}

