.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 0 2rem;

    .theme-buttons {
        .theme-button {
            display: none;
            column-gap: 0.4rem;
        }
        
        .theme-button--active {
            display: flex;
        }
    }
}
