.main-content {
    padding-top: 3rem;
    padding-left: var(--main-elements-horizontal-padding);
    padding-right: var(--main-elements-horizontal-padding);
    padding-bottom: 6rem;

    .input-search-container {
        display: flex;
        align-items: center;
        column-gap: 2.5rem;
        padding: 0 4rem;
        height: 6rem;
        margin-bottom: 5rem;
        box-shadow: var(--default-box-shadow);
        background-color: var(--current-elements-background);

        svg {
            width: 2rem;
            height: 2rem;
        }

        .input-search {
            flex-grow: 1;
            border: none;
            outline: none;
            background-color: inherit;
            color: inherit;
        }
    }

    .select-region-wrapper {
        display: flex;
        align-items: center;
        width: 25rem;
        height: 6rem;
        box-shadow: var(--default-box-shadow);
        padding: 0 2rem;
        background-color: var(--current-elements-background);
        position: relative;

        .select-region {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            cursor: pointer;
        }

        .regions {
            display: none;
            flex-direction: column;
            row-gap: 2rem;
            position: absolute;
            left: 0;
            top: 110%;
            width: 100%;
            padding: 3rem;
            box-shadow: var(--default-box-shadow);
            background-color: var(--current-elements-background);

            li {
                cursor: pointer;
            }
        }
    }

    .select-region-wrapper.display--regions {

        .select-region {
            svg {
                transform: rotateX(180deg);
            }
        }

        .regions {
            display: flex;
        }
    }

    @media only screen and (min-width: $minWidthTabletPortrait) {
        form {
            display: flex;
            justify-content: space-between;

            .input-search-container {
                width: 48rem;
            }

            .select-region-wrapper {
                width: 20rem;
            }
            
            .input-search-container, .select-region-wrapper {
                height: 5.6rem;
            }
        }
    }
}
