.main-content {
    padding-top: 3rem;
    padding-left: var(--main-elements-horizontal-padding);
    padding-right: var(--main-elements-horizontal-padding);
    padding-bottom: 6rem;

    .input-search-container {
        display: flex;
        align-items: center;
        column-gap: 2.5rem;
        padding: 0 4rem;
        height: 6rem;
        margin-bottom: 5rem;
        box-shadow: var(--default-box-shadow);
        background-color: var(--current-elements-background);

        svg {
            width: 2rem;
            height: 2rem;
        }

        .input-search {
            flex-grow: 1;
            border: none;
            outline: none;
            background-color: inherit;
            color: inherit;
        }
    }

    .select-region {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25rem;
        height: 6rem;
        padding: 0 2rem;
        box-shadow: var(--default-box-shadow);
        background-color: var(--current-elements-background);
        cursor: pointer;
        position: relative;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            position: absolute;
            left: 0;
            top: 110%;
            width: 100%;
            padding: 3rem;
            box-shadow: var(--default-box-shadow);
            background-color: var(--current-elements-background);
            cursor: auto;
            
            li {
                cursor: pointer;
            }
        }
    }
}
