.heading-1 {
    font-size: 2.75rem;
}

.heading-2 {
    font-size: 1.75rem;
}

.heading-1, .heading-2, .heading-3 {
    font-weight: 800;
    line-height: 1.4;
}

.heading-3 {
    font-size: 2.25rem;
}

.heading-4 {
    font-size: 2rem;
}

.input-info, .title-info, .info-item {
    font-size: 1.5rem;
}

.input-info {
    font-weight: 400;
}

.info-item, .button {
    font-weight: 300;
}

.title-info, .heading-4 {
    font-weight: 600;
}

.button {
    font-size: 1.75rem;
    padding: 1rem 3rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.button--small {
    font-size: 1.5rem;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.button--small:hover {
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: $minWidthDesktop) {
    .heading-1 {
        font-size: 3.2rem;
    }

    .heading-2 {
        font-size: 2.4rem;
    }

    .input-info, .title-info, .info-item {
        font-size: 1.4rem;
    }

    .heading-3 {
        font-size: 1.8rem;
    }

    .heading-4 {
        font-size: 1.6rem;
    }

    .button {
        font-size: 2rem;
    }
    
    .button--small {
        font-size: 1.4rem;
    }
}

